@font-face {
  font-family: "Rubik-normal";
  font-weight: 400;
  src: url(assets/Rubik-Light.ttf);
}
@font-face {
  font-family: "Rubik-bold";
  font-weight: 700;
  src: url(assets/Rubik-Bold.ttf);
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

body {
  margin: 0;
  padding: 0;
  width: 95%;
  height: 100vh;
  background-color: #FFFFFF;
  font-family: "Rubik-normal", "Arial", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
header .logo {
  display: flex;
  justify-content: center;
  gap: 6.12px;
  margin-left: 150px;
}
header .logo img {
  width: 35px;
  height: 36.23px;
}
header .logo h1 {
  width: 104px;
  height: 24px;
  font-weight: 600;
  font-size: 20px;
  margin: 6.12px;
}
header .logo h1 span {
  font-family: "Rubik-bold", "Arial", sans-serif;
  font-weight: 700;
}
header .menu {
  display: flex;
  justify-content: center;
  color: #4F5665;
  font-size: 16px;
  gap: 40px;
}
header .menu a:hover {
  color: #F53838;
}
header .buttons {
  font-size: 16px;
}
header .buttons .button {
  margin-right: 30px;
  font-weight: 600;
}
header .buttons .button:hover {
  color: #F53838;
}
header .buttons .hover-button {
  color: #F53855;
  font-weight: 600;
  border: 1px solid #F53855;
  border-radius: 50px;
  padding: 13px 45px;
}
header .buttons .hover-button:hover {
  background: #F53838;
  color: #fff;
}

main .first-content {
  display: flex;
  flex-direction: row;
  margin-top: 102px;
}
main .first-content .text {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 40px;
}
main .first-content .text h1 {
  font-size: 50px;
  font-weight: 500;
}
main .first-content .text h1 span {
  font-family: "Rubik-bold", "Arial", sans-serif;
  font-weight: 700;
}
main .first-content .text h3 {
  font-size: 16px;
  font-weight: 200;
  color: #4F5665;
}
main .first-content .text h3 span {
  font-family: "Rubik-bold", "Arial", sans-serif;
  font-weight: 700;
}
main .first-content .text button {
  background-color: #F53838;
  color: #FFFFFF;
  align-self: flex-start;
  font-weight: 700;
  font-size: 16px;
  padding: 17.5px 77.5px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 18px 34px 52px -8px rgba(245, 56, 56, 0.4);
}
main .first-content .text button:hover {
  cursor: pointer;
  color: #F53838;
  background-color: #fff;
}
main .first-content .text img {
  display: flex;
  justify-content: space-between;
  margin-left: 40.76px;
}
main .information {
  border-right: black;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 137px 60px 0 150px;
  box-shadow: 30px 45px 39px 37px rgba(13, 16, 37, 0.12);
}
main .information .border {
  height: 125.57px;
  margin-top: 37.21px;
}
main .information .box-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 67px 100px;
}
main .information .box-info img {
  height: 55px;
  width: 55px;
}
main .information .box-info h1 {
  font-size: 25px;
  margin-left: 36.5px;
}
main .information .box-info h1 p {
  font-size: 20px;
  font-weight: 400;
  color: #4F5665;
  margin-top: 5px;
}
main .functions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 190px 131px 150px;
  gap: 169.48px;
}
main .functions .image {
  width: 508.12px;
  height: 414.71px;
}
main .functions .second-text {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}
main .functions .second-text h1 {
  font-size: 35px;
  font-weight: 500;
}
main .functions .second-text h3 {
  font-size: 16px;
  font-weight: 300;
  color: #4F5665;
}
main .functions .opportunities {
  display: flex;
  flex-direction: column;
}
main .functions .opportunities .option {
  display: flex;
  flex-direction: row;
}
main .functions .opportunities .option img {
  height: 24px;
  width: 24px;
  margin-top: 16px;
  margin-right: 10px;
}
main .functions .opportunities .option span {
  font-size: 14px;
  font-weight: 300;
  color: #4F5665;
  margin: 20px 10px 15px 0;
}

section {
  background-color: #fcfcfc;
  position: relative;
}
section .head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .head h1 {
  font-size: 35px;
  margin-top: 80.27px;
}
section .head h3 {
  font-size: 16px;
  color: #4F5665;
  font-weight: 300;
}
section .head h3 p {
  margin-left: 228px;
}
section .service-package {
  display: flex;
  flex-direction: row;
  margin-left: 176px;
  gap: 50px;
  margin-right: 176px;
  margin-bottom: 150px;
}
section .service-package .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 70px 50px;
  width: 330px;
  height: 760px;
  border: 2px solid #DDDDDD;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 60px;
}
section .service-package .card:hover {
  border: 2px solid #F53838;
}
section .service-package .card img {
  width: 144.9px;
  height: 165.37px;
}
section .service-package .card h1 {
  font-size: 18px;
  text-align: center;
}
section .service-package .card .list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 13px;
}
section .service-package .card .list .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
section .service-package .card .list .element img {
  height: 24px;
  width: 24px;
}
section .service-package .card .list .element span {
  font-size: 14px;
  font-weight: 300;
  color: #4F5665;
}
section .service-package .card h3 {
  text-align: center;
  color: #0B132A;
}
section .service-package .card h3 span {
  color: #4F5665;
  font-weight: 300;
}
section .service-package .card button {
  font-family: "Rubik-bold", "Arial", sans-serif;
  font-weight: 700;
  color: #F53838;
  border: 2px solid #F53838;
  border-radius: 50px;
  padding: 13px 63.53px;
}
section .service-package .card button:hover {
  cursor: pointer;
  color: #DDDDDD;
  background-color: #F53838;
  box-shadow: 18px 34px 52px -8px rgba(245, 56, 56, 0.4);
}
section .section-two h1 {
  text-align: center;
  font-size: 35px;
  color: #0B132A;
  margin-top: 150px;
}
section .section-two h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #4F5665;
}
section .section-two h4 span {
  font-family: "Rubik-bold", "Arial", sans-serif;
  font-weight: 700;
}
section .section-two .card-servis {
  margin-left: 205px;
}
section .section-two .card-servis img {
  width: 1060px;
  height: 537.77px;
  margin: 155.81px 0 0 189.14px;
}
section .section-two .card-servis .img-sponsor {
  width: 1135.64px;
  height: 208.32px;
  margin: 6.45px 0 50px 144.14px;
}
section .position {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 340px;
  top: 3297px;
  bottom: 1px;
  left: 300px;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 1140px;
  height: 233px;
}
section .position .sect1 {
  display: flex;
  flex-direction: column;
}
section .position .sect1 h1 {
  font-size: 35px;
  font-family: "Rubik-bold", "Arial", sans-serif;
  font-weight: 700;
  color: #0B132A;
}
section .position .sect1 h4 {
  color: #4F5665;
  font-weight: 300;
  font-size: 16px;
}
section .position .sect2 {
  display: flex;
  flex-direction: column;
}
section .position .sect2 button {
  background-color: #F53838;
  color: #FFFFFF;
  align-self: flex-start;
  font-weight: 700;
  font-size: 16px;
  padding: 17.5px 77.5px;
  margin-top: 86.5px;
  border-radius: 10px;
  box-shadow: 18px 34px 52px -8px rgba(245, 56, 56, 0.4);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 180px 150px 100px 150px;
  background: #F8F8F8;
}
footer .post1 {
  display: flex;
  flex-direction: column;
}
footer .post1 .logo {
  display: flex;
  gap: 6.12px;
}
footer .post1 .logo img {
  width: 35px;
  height: 36.23px;
}
footer .post1 .logo h1 {
  width: 104px;
  height: 24px;
  font-weight: 600;
  font-size: 20px;
}
footer .post1 .logo h1 span {
  font-family: "Rubik-bold", "Arial", sans-serif;
  font-weight: 700;
}
footer .post1 h6 {
  font-size: 14px;
  font-weight: 200;
  color: #4F5665;
}
footer .post1 h6 span {
  font-family: "Rubik-bold", "Arial", sans-serif;
  font-weight: 700;
}
footer .post1 .icon {
  display: flex;
  flex-direction: row;
}
footer .post1 .icon img {
  height: 60px;
  width: 60px;
}
footer .post1 h4 {
  color: #4F5665;
  font-size: 10px;
  margin-bottom: 141.41px;
}
footer .post2 {
  display: flex;
  flex-direction: column;
}
footer .post2 h1 {
  font-size: 16px;
  width: 71px;
  height: 30px;
}
footer .post2 h4 {
  font-weight: 300;
  font-size: 14px;
  color: #4F5665;
  width: 74px;
  height: 30px;
}
footer .post3 {
  display: flex;
  flex-direction: column;
}
footer .post3 h1 {
  font-size: 16px;
  width: 71px;
  height: 30px;
}
footer .post3 h4 {
  font-weight: 300;
  font-size: 14px;
  color: #4F5665;
  width: 74px;
  height: 30px;
}
footer .post3 {
  display: flex;
  flex-direction: column;
}
footer .post3 h1 {
  font-size: 16px;
  width: 71px;
  height: 30px;
}
footer .post3 h4 {
  font-weight: 300;
  font-size: 14px;
  color: #4F5665;
  width: 74px;
  height: 30px;
}/*# sourceMappingURL=app.css.map */